<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">X</button>
      <h1>Edit topic</h1>
    </div>
    <%= render partial: 'form' %>
  </div>
</div>
