/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.container-fluid {
  //background: rgba(210,255,82,1);
  //background: linear-gradient(135deg, rgba(210,255,82,1) 0%, rgba(0,121,145,1) 100%);
  background: rgba(167,217,15,1);
  background: linear-gradient(135deg, rgba(167,217,15,1) 0%, rgba(0,121,145,1) 100%);
  color: #EEEEEE;
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
  height: 100vh;
  width: 100vw;
  a {
    color: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Trade Winds', cursive;
}

h1, .h1 {
  font-size: 8rem;
}

h2, .h2 {
 font-size: 7rem;
}

h3, .h3 {
  font-size: 6rem;
}

h4, .h4 {
  font-size: 5rem;
}

h5, .h5 {
  font-size: 4rem;
}

h6, .h6 {
  font-size: 3rem;
}

nav {
  border-radius: 4px;
  background-color: rgba(20,48,72,0.7);
  height: 62.5px;
}

.logo {
  //background-color: rgba(0,0,255,0.5);
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  font-family: 'Akronim', cursive;
  font-size: 4rem;
  height: 62.5px;
  padding: 0.5rem 1rem 0;
  a:active {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}

.nav {
  //font-family: 'Trade Winds', cursive;
  font-size: 2rem;
  padding-top: 0.6rem;
  a:hover {
    color: rgba(20,48,72,0.7);
  }
}

.modal-transparent .modal-content {
  background-color: rgba(20,48,72,0.7);
}

.modal-transparent .close {
    color: red;
    opacity: 1;
}
