// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new {
  cursor: pointer;
  margin-bottom: 2rem;
}

.child {
  margin: 2rem;
}

.show {
  margin: 2rem;
  margin-top: 3rem;
}

.tooltip-wrapper {
  display: inline-block;
}

.btn-warning {
  color: black !important;
}
